<!DOCTYPE html>
<html>

<head>
    <title>코인충전</title>
</head>
<script type="text/javascript">
    function parents() {
        if (document.getElementById("show").style.display == "block") {
            document.getElementById("show").style.display = "none";
        } else {
            document.getElementById("show").style.display = "block";
        }
    }
</script>
<style>
    .coin {
        width: 100%;
        float: left;
        text-align: center;
        
    }
</style>

<body>
    <form class="coin" action="/users/coin" method="POST">
        <img src="/images/mykids.png" alt="logo" style="width: 474.7px; height: 100px; margin-top: 30px; margin-bottom: 30px;">
        <div>
            <div style="width:300px; border: 4px solid #fc4cc7; border-radius: 20px;  margin: 0 auto; margin-bottom: 50px; padding: 50px;">
                <label style="font-size: 2rem; font-weight: bold;" ><img src="/images/coin.png" alt="동전" style="width: 13px; height: 13px;">현재보유코인<img src="/images/coin.png" alt="동전" style="width: 13px; height: 13px;"> <p style="color: gold;"><%=sess.info.coin%></p> </label>
            </div>
            <div style="width:300px; border: 4px solid #5056ff; margin: 0 auto; border-radius: 20px; margin-bottom: 50px; padding: 50px;">
                <label>충전할코인</label>
                <input type="text" id="coin" name="coin" style="border: 1px solid gold; border-radius: 10px; height: 30px; ">
                <input type="button" onclick="parents();" value="충전" style="color: white; width: 50px; height: 30px; background-color:#93ceff ; border-radius: 10px; margin-top: 20px;"/>
            </div>
            <div id="show" style="display: none; width:300px; border: 4px solid #4affea; margin: 0 auto; border-radius: 20px; padding: 50px; ">
                <input type="password" id="parentsPw" placeholder="부모님비밀번호입력" name="parentsPw" style="border: 1px solid gold; border-radius: 10px; height: 30px; ">
                <input type="submit" value="확인" style="color: white; width: 50px; height: 30px; background-color:#93ceff ; border-radius: 10px; "/><br>
            </div>
        </div>
    </form>
</body>

</html>